language: go

go:
- stable

addons:
  ssh_known_hosts:

before_deploy:
- openssl aes-256-cbc -K $encrypted_26cd080becd9_key -iv $encrypted_26cd080becd9_iv -in .travis/deploy.key.enc -out .travis/deploy.key -d
- eval "$(ssh-agent -s)"
- chmod 600 .travis/deploy.key
- ssh-add .travis/deploy.key

deploy:
  provider: script
  skip_cleanup: true
  script: bash .travis/deploy.sh
  on:
    branch: master